li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
p {
    padding: 5px;
    text-shadow: black 1px 1px 1px;
}
.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 8px;
    border-radius: 15px;
    color: black;
    max-width: 30%;
    min-width: 300px;

    margin-bottom: 50px;
}
form {
    margin-top: 10px;
}

ul {
    background-color: #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: -8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    color: white;
}
h1 {
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.card-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
}
@media only screen and (max-width: 915px) {
    .card-container {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2px;
    }
}
@media only screen and (max-width: 630px) {
    .card-container {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 2px;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #bbb;
    color: white;
    transform: rotateY(180deg);
}

.about {
    text-align: center;
    max-width: 500px;
    padding: 15px;
    background-color: #bbb;
    color: black;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 10px 8px;
}
.me {
    text-align: center;
    max-width: 900px;
    padding: 15px;
    background-color: #bbb;
    color: black;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 10px 8px;
}
